[data-theme="light"] .homebg {
    background: rgb(255,228,230);
    background: linear-gradient(90deg, rgba(255,228,230,1) 0%, rgba(186,230,253,1) 100%);
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);  
}

[data-theme="dark"] .homebg {
    background: rgb(30,64,175);
    background: linear-gradient(90deg, rgba(30,64,175,1) 0%, rgba(44,65,95,1) 50%, rgba(15,23,42,1) 100%);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);  
}